@using TesteCadastro.Models;
@model IEnumerable<Documents>
@using Microsoft.AspNetCore.Mvc.RazorPages;


<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Título</th>
            <th scope="col">Categoria</th>
            <th scope="col"> Processo</th>

        </tr>
    </thead>


    @foreach (Documents documents in Model)
    {
        <tr>
            <td>@documents.codigo</td>
            <td>@documents.titulo</td>
            <td>@documents.categoria</td>
            <td>@documents.processo</td>
            <td>
            <td><a type="button" class="btn btn-primary" asp-controller="Documents" asp-action="DownloadFile"
                asp-route-codigo="@documents.codigo">Download</a>
            </td>
            </td>


        </tr>
    }
</table>